// @import "@/assets/scss/theme/_reset.scss";
@import "@/assets/scss/theme/_helpers.scss";
// @import "@/assets/scss/theme/_grid.scss";
// @import "@/assets/scss/theme/_helpers.scss";


html {
  font-size: 16px;
  min-height: 100vh;
}

body {
  line-height: 1.625;
  font-weight: 400;
  color: $text-color;
  font-family: $font-primary;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // Below  2 lines are anti-flicker?
  // -webkit-transform: translate3d(0, 0, 0);
  // transform: translate3d(0, 0, 0);
}

@import "_buttons.scss";
@import "_typography.scss";

hr {
  border-top: 1px solid $duotone-gray;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.round-rainbow-icon {
  @include icon-round-rainbow-border;
}