// @import "@/assets/scss/theme/_reset.scss";
@import "@/assets/scss/theme/_variables.scss";
// @import "@/assets/scss/theme/_grid.scss";
// @import "@/assets/scss/theme/_helpers.scss";

html {
  font-size: 16px;
  min-height: 100vh;
}

body {
  line-height: 1.625;
  font-weight: 400;
  font-family: $font-primary;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 1s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}